@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.bg-octolinker-900 { background-color: #fd4eff; }
.bg-octolinker-200 { background-color: #fbcbfc; }

.text-octolinker-900 {
  color: #fd4eff;
}